@import "tailwindcss";
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: var(--primary-color, #1d67a6);
}

:root {
  --primary-color: #009788;
  --brand-gradient: linear-gradient(to right, #2168a1, #11999e);
}

.text-brand {
  background-image: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.bg-brand {
  background-image: var(--brand-gradient);
}

/* hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}